<md-sidenav
    class="md-sidebav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-open="vm.sidenavOpen">
    
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add a Classified</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title"                         
                    ng-model="classified.title"
                    md-autofocus>
            </md-input-container>

            <md-input-container>
                <label for="price">Price</label>
                <input 
                    type="text" 
                    name="price" 
                    id="price" 
                    ng-model="classified.price">
            </md-input-container>

            <md-input-container>
                <label for="descrpiption">Description</label>
                <textarea 
                    name="description" 
                    id="description" 
                    ng-model="classified.description"></textarea>
            </md-input-container>

            <md-input-container>
                <label for="image">Image link</label>
                <input 
                    type="text" 
                    name="image" 
                    id="image" 
                    ng-model="classified.img">
            </md-input-container>

            <md-button 
                class="md-primary" 
                ng-if="!editing" 
                ng-click="vm.saveClassified(classified);">
                save
            </md-button>
            <md-button 
                class="md-primary" 
                ng-if="editing" 
                ng-click="vm.saveEdit()">
                Save Edit
            </md-button>
            <md-button 
                class="md-warn" 
                ng-click="vm.closeSidebar()">
                Cancel
            </md-button>
        </form>
    </md-content>
</md-sidenav>