<md-card 
    flex="30" 
    ng-repeat="classified in classifieds | 
                filter: classifiedsfilter | 
                filter: category" 
    class="classified">

    <img ng-src="{{ classified.img }}">
    <md-card-content>
        <div 
            class="classified-info" 
            ng-show="!showContact">
            <h2 class="md-title">{{ classified.title }}</h2>
            <h2>{{ classified.posted | date }}</h2>
            <h3>{{ classified.price | currency }}</h3>
            <p>{{ classified.description }}</p>
        </div>

        <div 
            class="clasified-contact" 
            ng-show="showContact">
            <p>
                <md-icon class="mdi mdi-account"></md-icon>
                {{ classified.contact.name }}
            </p>
            <p>
                <md-icon class="mdi mdi-phone"></md-icon>
                {{ classified.contact.phone }}
            </p>
            <p>
                <md-icon class="mdi mdi-email"></md-icon>
                {{ classified.contact.email }}
            </p>
        </div>

        <div layout="row">
            <md-button
                ng-click="showContact = true"
                ng-show="!showContact">
                Contact
            </md-button>
            <md-button
                ng-click="showContact = false"
                ng-show="showContact">
                Detail
            </md-button>
            <md-button
                ng-click="showAdmin = true"
                ng-show="!showAdmin">
                Admin
            </md-button>
            <md-button
                ng-click="showAdmin = false"
                ng-show="showAdmin">
                Close
            </md-button>
        </div>

        <div class="classified-admin" ng-if="showAdmin">
            <h3>Admin</h3>

            <div layout="row">
                <md-button 
                    class="md-primary" 
                    ng-click="vm.editClassified(classified)">
                    Edit
                </md-button>
                <md-button 
                    class="md-warn" 
                    ng-click="vm.deleteClassified($event, classified)">
                    Delete
                </md-button>
            </div>
        </div>
    </md-card-content>
</md-card>