<md-toolbar>
    <div class="md-toolbar-tools">
        <p><strong>ngClassifieds</strong></p>

        <md-button ng-click="vm.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New classified
        </md-button>


        <md-button ng-click="showFilters = true">
            <md-icon class="mdi mdi-magnify"></md-icon>
            filters
        </md-button>
    </div>
</md-toolbar>

<div 
    class="filters" 
    layout="row" 
    layout-align="center center" 
    ng-show="showFilters">
    <md-input-container>
        <label for="">Enter search term</label>
        <input 
            type="text" 
            ng-model="classifiedsfilter">
    </md-input-container>

    <md-input-container>
        <label for="">Category</label>
        <md-select ng-model="category">
            <md-option 
                ng-repeat="category in vm.categories" value="{{ category }}">
                {{ category }}
            </md-option>
        </md-select>
    </md-input-container>

    <div layout="row">
        <md-buttom 
            class="md-warn" 
            ng-click="vm.classifiedsfilter = ''; category = '';">
            Clear
        </md-buttom>
    </div>
</div>

<ui-view></ui-view>

<md-content>
    <classified-card
        classifieds="vm.classifieds"
        class="md-padding" 
        layout="row" 
        layout-wrap>        
    </classified-card>
    
</md-content>